#section-hero.section
  .panel-cmd
    h1.t001.titel-hero //David Lengweiler
      
    h2.subtitel-hero 
      span.hero-high &lt;h2&gt;
      span.t002 Front-end developer
      span.hero-high &lt;/h2&gt;
    h2.subtitel-hero 
      span.hero-high &lt;h3&gt;
      span.t003 Webdesigner and animation creator
      span.hero-high &lt;/h3&gt;
    
    p 
      span.hero-high &lt;p&gt;
      span My Name is David and I am a front-end developer. I create website, from simple ones on Wordpress to bigger complete custom-designed Webapplications. To learn new things and bypass different problems while working on projects, is what I like the most about webdeveloping. Have a look at my porfolio-page and if you would like to contact me, do so throu the link on the end of the page.
      span.hero-high &lt;/p&gt;
    
