#section-hero.section
  .panel-cmd
    h1.t001.titel-hero David Lengweiler
      
    h2.t002.subtitel-hero //Webdeveloper 
    h2.t003.subtitel-hero //Webdesigner  
    h2.t004.subtitel-hero //Webanimator
  
    
