#section-hero.section
  .panel-cmd
    h1.t003.titel-hero David Lengweiler
      
    h2.t004.subtitel-hero //Webdeveloper 
    h2.t005.subtitel-hero //Webdesigner  
    h2.t006.subtitel-hero //Webanimator
  
    
