@import 'font'

.content
  position: relative


  .text-sample
    font-size: 33px

button
  background: black
  color: white
  padding: 10px
  margin: 10px
  margin-left: 0
  cursor: pointer
  box-shadow: 0px 4px 4px #888888
  border-radius: 4px

  &:hover
    color: #4b7ae9
    box-shadow: 0px 2px 4px black
