@import 'font'
@mixin hoverButton
  color: white
  background: black
  color: #9C27B0
  transition: all 0.3s ease-in-out

.content
  position: relative


  .text-sample
    font-size: 33px

button
  padding: 10px 
  margin: 10px 0
  margin-left: 0
  cursor: pointer
  background: rgba(0, 0, 0, 0)

  &:hover
    +hoverButton

.is-active
  +hoverButton



  .is-active

.footer
  overflow: hidden !important
