@import 'font'
@mixin hoverButton
  color: white
  background: black
  color: #9C27B0

.content
  position: relative


  .text-sample
    font-size: 33px

button
  padding: 10px
  margin: 10px
  margin-left: 0
  cursor: pointer

  &:hover
    +hoverButton

.is-active
  +hoverButton



  .is-active

.footer
  overflow: hidden
