mixin menu
  a#menu-start.menu-link(href="#section-hero")
    li.m001  Start
  a#menu-project.menu-link(href="#section-projects")
    li.m002  Projects
  a#menu-contact.menu-link(href="#section-social")
    li.m003  Contact
  .switch-lang
    button#en-button.switch.is-active En
    button#de-button.switch De

.container
   header.header
      nav.main-nav
        ul.menu
          +menu
