header
  .main-nav
    position: relative
    z-index: 90
    width: 100%
    background-color: white
    ul
      list-style-type: none
      margin: 0
      padding: 0
      text-align: right
      a
        cursor: pointer
        text-decoration: none
        color: black

        &:hover
          color: #9c27b0

        li
          display: inline
          text-decoration: none

      .switch-lang
        position: relative
        display: inline-block
        border: solid 3px black
        padding: 0
        margin: 0

        button
          margin: 0



  .is-fixed
    position: fixed
